
body{
	width: 660px;
	margin: 0px auto;
	text-align: center;
	background-color: black;
	font-family: tamoha;
}

	#banner{
		width: 100%;
		text-align: center;
	}
		#banner img{
			width: 100%;
			text-align: center;
			margin-top: 10px;
			border-radius: 10px;
		}